<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container {
            height: auto;
            width: 50%;
            margin: auto;
            background-color: lightslategrey;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome to VS Code</h1>
        <p1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab magni quos eligendi iusto, natus doloremque deserunt dolor vitae ad quis officiis minima impedit corrupti, commodi, porro eius molestias ipsa adipisci!</p1>    
    </div>
</body>
</html>